/* CSS Document */

<<<<<<< HEAD
/* Main Body Styles */

.Entrance {
	
}

.Announcements {
	
}

.Spotlight {
	
}

.Hotspots {
	
}

.Suggestions {
	
}

.Contact {
	
}

/* Main BOdy Styles End */
=======

/* Spotlight Buttons*/

body {
	background-color: #f8fafc;
}

.container {
	margin: 0 auto;
	margin-top: 0px;
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 40%;
}

.slide {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.slide img {
	width: 100%;
	height: 100%;
}


#i1, #i2, #i3 {
	display: none;
}



.pre, .nxt {
	width: 12%;
	height: 100%;
	position: absolute;
	top: 0;
	background: rgba(88,88,88,.4);
	z-index: 99;
	cursor: pointer;
	
}

.pre{
	left: 0;
	
}

.nxt{
	right: 0;
}


.nav{
	width: 100%;
	height: 11px;
	bottom: 12%;
	position: absolute;
	text-align: center;
	z-index: 99;
}

.dots {
	top: -5px;
	width: 18px;
	height: 18px;
	margin: 0 4px;
	position: relative;
	border-radius: 50%;
	display: inline-block;
	background: rgba(0,0,0,.6);
}


#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three{
	z-index: 9;
}


#i1:checked ~ .nav #dot1,
#i2:checked ~ .nav #dot2,
#i3:checked ~ .nav #dot3{
	background: #fff;
}

/* Spotlight End */


>>>>>>> PirateSlides

/* Header Style */


.navbar {
	padding: 10px 16px;
	background: #42145F;
	color: #f1f1f1;
	font-size: 14;
	font-family: "Oswald", sans-serif;
}

.content {
	padding: 16px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky + .content {
	padding-top: 102px;
}

/* Header Style End */

/* Table Style */

table {
	width: 100%;
	border-spacing: 30px;
	margin-left: auto;
	margin-right: auto;
}

th, td {
	padding: 15px;
	
}


/* Table Style End */



/* Entrance Style Start */
.entrance{
	position: relative;
	font-family: "Oswald", sans-serif;
    color: #000000;
	background-color: #FEC923;
	padding: 10px 15px;
	
}

.map {
	right: 375;
}

.desc{
    color: #42145F;
	font-family: "Quattrocento", serif;
    background-color: #6000C4;
    text-align: left;
}


html {
	scroll-behavior: smooth;
}

/* Entrance Style End */




/* Hotspot Style */

.container2 {
	margin: 0 auto;
	margin-top: 0px;
	position: relative;
	width: 100%;
	height: 500px;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Hotspot Style End */
