/* CSS Document */

*{
	margin: 0;
}

/* Header Style */
.header {
	padding: 10px 16px;
	background: #555;
	color: #f1f1f1;
}

.content {
	padding: 16px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky + .content {
	padding-top: 102px;
}

/* Header Style End */

/* Table Style */

table {
	width: 100%;
	border-spacing: 30px;
	margin-left: auto;
	margin-right: auto;
}

th, td {
	padding: 15px;
	
}


/* Table Style End */


#wrapper,
#Announcements,
#Spotlight,
#Hotspots,
#Suggestions,
#QnA{
	height: 700px;
}

#Announcements{
	background-color: ;
}


html {
	scroll-behavior: smooth;
}



/* Spotlight Buttons*/

#wrapper {
	display: block;
	height: 720px;
	width: 1720px;	
}

#container {
	background-color: #FFC;
	display: block;
	float: left;
	height: 720px;
	width: 1720px;
	overflow: auto;
}

#prev {
	background-image: url(C:\Users\cris\Desktop\pirates-spotlight\rightbutton - Copy.png);
	background-repeat: no-repeat;
	background-position: center center;
	display: block;
	float: left;
	height: 700px;
	width: 100px;
	position: relative;
	z-index: 99;
}

#next {
	background-image: url(C:\Users\cris\Desktop\pirates-spotlight\rightbutton.png);
	background-repeat: no-repeat;
	background-position: center center;
	display: block;
	float: right;
	height: 720px;
	width: 100px;
	position: relative;
	z-index: 99;
	
}

#slider {
	display: block;
	float: left;
	height: 720px;
	width: 1720px;
	overflow: hidden;
	position: absolute;
}

/* Spotlight End */


